[Unit]
Description=Barcode Scanner Attendance System
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/raspi-barcode-scanner-display.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target